[submodule "bundle/gundo-head"]
	path = bundle/gundo-head
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdcommenter-head"]
	path = bundle/nerdcommenter-head
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree-head"]
	path = bundle/nerdtree-head
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/apj-head"]
	path = bundle/apj-head
	url = https://github.com/tompurl/apj.git
[submodule "bundle/vst-head"]
	path = bundle/vst-head
	url = https://github.com/vim-scripts/VST.git
[submodule "vimroom"]
	path = vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/bash-support-head"]
	path = bundle/bash-support-head
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/vim-colos-solarized"]
	path = bundle/vim-colos-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-shell"]
	path = bundle/vim-shell
	url = https://github.com/xolox/vim-shell.git
[submodule "bundle/vim-session-head"]
	path = bundle/vim-session-head
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/todo.txt-vim-head"]
	path = bundle/todo.txt-vim-head
	url = https://github.com/davidoc/todo.txt-vim.git
[submodule "bundle/vim-calendar-head"]
	path = bundle/vim-calendar-head
	url = https://github.com/vim-scripts/calendar.vim--Matsumoto.git
[submodule "bundle/vim-slime-head"]
	path = bundle/vim-slime-head
	url = https://github.com/jpalardy/vim-slime.git
