[submodule "bundle/gundo-head"]
	path = bundle/gundo-head
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdcommenter-head"]
	path = bundle/nerdcommenter-head
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree-head"]
	path = bundle/nerdtree-head
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/apj-head"]
	path = bundle/apj-head
	url = https://github.com/tompurl/apj.git
[submodule "bundle/vst-head"]
	path = bundle/vst-head
	url = https://github.com/vim-scripts/VST.git
[submodule "vimroom"]
	path = vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/bash-support-head"]
	path = bundle/bash-support-head
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/vim-colos-solarized"]
	path = bundle/vim-colos-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-shell"]
	path = bundle/vim-shell
	url = https://github.com/xolox/vim-shell.git
[submodule "bundle/todo.txt-vim-head"]
	path = bundle/todo.txt-vim-head
	url = https://github.com/davidoc/todo.txt-vim.git
[submodule "bundle/vim-calendar-head"]
	path = bundle/vim-calendar-head
	url = https://github.com/vim-scripts/calendar.vim--Matsumoto.git
[submodule "bundle/vim-slime-head"]
	path = bundle/vim-slime-head
	url = https://github.com/jpalardy/vim-slime.git
[submodule "bundle/vim-fugitive-head"]
	path = bundle/vim-fugitive-head
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rails-head"]
	path = bundle/vim-rails-head
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/supertab-head"]
	path = bundle/supertab-head
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-ruby-conque"]
	path = bundle/vim-ruby-conque
	url = git://github.com/skwp/vim-ruby-conque.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-taglist-head"]
	path = bundle/vim-taglist-head
	url = git://github.com/thisivan/vim-taglist.git
[submodule "bundle/puppet-vim-head"]
	path = bundle/puppet-vim-head
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/clam-head"]
	path = bundle/clam-head
	url = https://github.com/sjl/clam.vim.git
[submodule "bundle/perl-supprt-head"]
	path = bundle/perl-supprt-head
	url = git://github.com/benizi/perl-support.vim.git
[submodule "bundle/vim-perl-head"]
	path = bundle/vim-perl-head
	url = git://github.com/petdance/vim-perl.git
[submodule "bundle/riv-head"]
	path = bundle/riv-head
	url = git://github.com/Rykka/riv.vim.git
[submodule "bundle/vim-rake-head"]
	path = bundle/vim-rake-head
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/vim-bundler-head"]
	path = bundle/vim-bundler-head
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-ruby-conque-head"]
	path = bundle/vim-ruby-conque-head
	url = git://github.com/skwp/vim-ruby-conque.git
